

ul{
    list-style-type: none;
}



.itemTitleContainer{
    box-shadow: 0 1px 10px #3c8f8f;
    margin-right: 35px;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 13px;
    align-items: center;
}

.itemTitle{
    color:rgb(46, 95, 95);
    font-size: 20px;
}
.amount{
    color:rgb(53, 125, 125);
    font-size: 15px;
}

.change_item_buttons_increase{
    background-color: rgb(133, 27, 27);
    border-radius: 5px;
    /* font-weight: 900; */
    color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    
}
.change_item_buttons_increase:hover{
    background-color: rgb(218, 218, 47);
    color:black
}
.change_item_buttons_decrease{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
    /* font-size: 6px; */
    /* font-weight: 900; */
    border: 1px solid black
}
.change_item_buttons_decrease:hover{
    background-color: rgb(218, 218, 47);
    color:black
}