


.container{
    display: flex;
    /* margin:4px; */
    /* border: 2px solid black; */
    background-color:#fcf8ac;
    justify-content: center;
    color:#4F3A30;
}

.container h1{
    font-family:'Times New Roman', Times, serif;
    font-size:80px
}